@font-face {
    font-family: 'argentinian_nights_by_kestrRg';
    src: url('fonts/argentinian_nights-webfont.woff2') format('woff2'),
         url('fonts/argentinian_nights-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'a_love_of_thunderregular';
    src: url('fonts/a_love_of_thunder-webfont.woff2') format('woff2'),
         url('fonts/a_love_of_thunder-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f0f0f0;
}


/*navigation*/
nav {
  position: fixed;
  width: 43%;
  z-index: 5;
  margin: 0 auto;
  left: 1vw;
  top: 4%;
}

nav > ul {
  list-style-type: none;
  text-align: center;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
}

nav ul a {
  text-decoration: none;
  font-family: 'a_love_of_thunderregular';
  color: #59733b;
}


/*header general style*/
header {
  width: 100%;
  height: 100vh;
  position: relative;
  background-attachment: fixed;
  /*overflow: hidden;*/
}

h1 {
  opacity: 0;
  position: absolute;
  left: -50vw;
}

h2 {
  font-family: 'a_love_of_thunderregular';
  color: #59733b;
  text-align: right;
}

.logo_container {
  width: 30%;
  position: absolute;
  top: 27vh;
  left: 9vw;
}

.logo_svg {
  width: 100%;
}

.logo {
  fill:#545454;
}

/*header - image tilt effect*/

#header_parallax {
  width: 37%;
  position: absolute;
  right: 9vw;
  top: 4vh;
}

.header_border {
  width: 79%;
  position: relative;
  top: -85vh;
  right: -6vw;
}

.h_border {
  fill:none;
  stroke:#454744;
  stroke-width: 7;
  stroke-miterlimit:10;
}

.parallax_img {
  width: 72%;
  top: 9vh;
  right: 3vw;
  display: inline-block;
  position: absolute;
}

.h_bg {
  position: relative;
  z-index: -5;
  width: 93%;
  top: 3vh;
}

.header_bg {
  fill:#CCD2C5;
}

.about {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 70% 30%;
  margin-top: 3vh;
}

.photo_section {
  width: 90%;
  padding: 1%;
  position: relative;
}

.about_img {
  position: absolute;
}

.about_img1 {
  width: 43%;
  top: 13vh;
  left: 3vw;
}

.about_img2 {
  display: none;
}

.about_img3 {
  top: 44vh;
  left: 25vw;
}

.text_section {
  position: relative;
}

.text_section > h3 {
  position: absolute;
  text-transform: uppercase;
}

.text_section_1 {
  left: -31vw;
  top: 17.3vh;
}

.text_section_2 {
  left: -28vw;
  top: 24vh;
}

.text_section_3 {
  left: -15vw;
  top: 30vh;
}

.about_logo {
  position: absolute;
  width: 81%;
  top: 21vh;
  left: -5vw;
}

.mission {
  position: absolute;
  top: 51vh;
  left: -10vw;
  right: 3vw;
  text-align: justify;
}
