@import url('https://fonts.googleapis.com/css?family=Hind');


body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

header {
  width: 100%;
  height: 100vh;
}

nav {
  position: fixed;
  text-align: center;
  width: 40%;
  left: 5vw;
  top: 5vh;
}

nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

nav > ul > li {
  height: 5vh;
  line-height: 3.4vh;
}

nav > ul > li > a {
  text-decoration: none;
  text-decoration-line: none;
  font-family: 'Hind';
  color: black;
  font-size: 2vh;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.company_description {
  width: 100%;
  position: relative;
  height: 50vh;
  align-self: center;
  top: 5vh;
}

.svg_container {
  position: absolute;
  width: 89%;
  left: 13vw;
}

#logo {
  width: 50%;
}

.company_mission {
  position: absolute;
  font-family: 'Hind';
  font-size: 5vh;
  color: #1BBC9B;
  left: 23vw;
  top: 21vh;
}

.line_green {
  position: absolute;
  width: 75%;
  border-top: 0.3vh solid #1BBC9B;
  bottom: -11vh;
}

.line_black {
  position: absolute;
  width: 85%;
  border-top: 0.39vh solid black;
  bottom: -13vh;

}

.header_imgs {
  position: relative;
  width: 100%;
  height:100vh;
  overflow: hidden;
}

.header_imgs > img {
  position: absolute;
}

.img_header-1 {
  width: 120%;
  top: 9vh;
  right: 5vw;
}

.img_header-2 {
  width: 50%;
  bottom: 0;
  right: 0;
}

main {
  width: 100%;
  height: 100vh;
}

.we {
  position: relative;
  width: 75%;
  height: 80vh;
  top: 35vh;
}

.we > img {
  position: absolute;
  width: 100%;
}

.about_us {
  position: relative;
  width: 100%;
  height: 90vh;
}

.about_us > p {
  position: absolute;
  top: 32vh;
  font-family: 'Hind';
  font-size: 2.35vh;
}

.our_realisations {
  width: 75%;
  display: grid;
  position: relative;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-column-gap: 2vh;
  grid-row-gap: 2vh;
  top: 49vh;
  right: -7vw;
}

.aboutUs_imgContainer {
  height: 30vh;
}

.imgCnt--1 {
  background-image: url(assets/img/5.jpg);
  background-size: cover;
  width: 100%;
}

.imgCnt--2 {
  background-image: url(assets/img/6.jpg);
  background-size: cover;
  width: 100%;
}

.imgCnt--3 {
  background-image: url(assets/img/7.jpg);
  background-size: cover;
  width: 100%;
}

.imgCnt--4 {
  background-image: url(assets/img/8.jpg);
  background-size: cover;
  width: 100%;
}
